/*author:lily;
* date:2017-04-07;
* desc:页面主体样式;
*/

@charset "utf-8";


/*首页*/
.banner{
    width: 100%;
    min-width: 1200px;
}
.banner img{
    width: 100%;
}

/*首页样式 start*/
.content{
    width: 1200px;
    margin: 0 auto;
}
.project{
    padding-top: 20px;
    padding-bottom: 30px;
}
.project.usr .content .row{
    margin-top: 40px;
}
.content .row .xsms{
    background: #eb6c6c;
    display: inline-block;
    float: left;
    padding: 25px 20px;
    height: 212px;
    width: 245px;
    text-align: center;
}
.content .row ul{
    /*float: right;*/
}
.content .row ul li{
    float: left;
    margin: 0 0 0 20px;
}
.content .row ul li > div{
    margin: 10px 0;
}
.content .row ul li > div.course-title > span{
    display: inline-block;
    color: #00a7ea;
    border: 1px solid #00a7ea;
    padding: 2px;
    border-radius: 2px;
}
.content .row ul li > div.course-tag{
    color: #999999;
}
.content .row ul li > div.course-tag h2{
    color: #ff4000;
    font-size: 16px;
    font-weight: normal;
}
.content .row ul li > div.course-tag > span > i{
    color: #54b9ee;
    display: inline-table;
}
.content .row ul li img{
    width: 285px;
    height: 190px;
}

/*限时秒杀*/
.project.usr .content .row .xsms .timer{
    margin-top: 20px;
}
.project.usr .content .row .xsms .timer > div{
    display: inline-block;
    color: #ffffff;
}
.project.usr .content .row .xsms .timer > div > span{
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    color: #eb6c6c;
    font-size: 38px;
    font-weight: 800;
    margin: 0 5px;
    vertical-align: bottom;
}
.project.usr .content .row .xsms .timer > div > p{
    margin-top: 15px;
    font-size: 16px;
}


/*免费好课 追加*/

.content .row .mfhk{
    background: #2ac4db;
}
.content .row .mfhk h2{
    color: #fff;
    font-size: 25px;
    margin: 30px 0;
    font-weight: normal;
}
.content .row .mfhk  a{
    border-radius: 20px;
    border:1px solid #fff;
    padding: 8px;
    display: block;
    color: #fff;
    width: 100px;
    margin: 0 auto;
    font-size: 16px;
}

/*在线课程*/
.project.gray{
    background: #f9f9f9;
}
.project > .content > h2{
    margin: 20px 0 35px 0;
    border-bottom: 1px solid #dadada;
    padding-bottom: 5px;
    position: relative;
}
.project > .content > h2 > span.title{
    position: absolute;
    font-size: 25px;
    top: -4px;
    font-weight: normal;
    background: #f9f9f9;
}
.project > .content > h2 > span > a{
    color: #999999;
    font-weight: normal;
}
.project.gray .content{
}
.project.gray .content .row img.img-left{
    float: left;
}
.project.gray .content .row ul li{
    float: left;
    margin: 0 0 20px 20px;
}
.project.gray .content .row ul li > a{
    position: relative;
    display: block;
}
.project.gray .content .row ul li > a > span{
    position: absolute;
    background: url('../images/course_icon.png') no-repeat 0 0;
    width: 64px;
    height: 64px;
    right: 0;

}
.project.gray .content .row ul li > a > span > em{
    color: #fff;
    text-align: center;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: absolute;
    left: 13px;
    top: 14px;
}
.project .content .row ul li > div.course-tag > h2 > s{
    font-size: 12px;
    color: #bbbbbb;
}

/*线下公开课*/
.project.white{
    background: #fff;
}
.project.lis .content .row ul li:first-child{
    margin-left: 0;
}
.project.white > .content > h2 > span.title{
    background: #fff;
}
.project.lis > .content .row ul li > div.course-tag span{
    background: inherit;
    padding-left: 0;
}
.project.white > .content .row ul li > div.course-tag span.address{
    background: url('../images/smicon.png') no-repeat;
    padding-left: 20px;
    background-position: 0 -105px;
}
.project.white > .content .row ul li > div.tutor > span > i{
    color: #00a7ea;
}
.project.lis > .content .row ul li > div.green{
    height: 253px;
    min-width: 285px;
    background: #acbb5f;
    margin: 0;
}
.project.lis > .content .row ul li > div.green > dl{
    padding:10px;
}
.project.lis > .content .row ul li > div.purple{
    background: #ab7fd5;
    height: 270px;
}
.project.lis > .content .row ul li > div.green dl dd{
    padding: 8px 15px;
    color: #fff;
}

/*人气导师*/
.project.lis > .content .row.top-tutor ul li{
    border-bottom: 1px solid #eeeeee;
}
.project.lis > .content .row ul li{
    position: relative;
}
.project.lis > .content .row ul li > div.tutor-desc{
    position: absolute;
    bottom: 25px;
    width: 100%;
    background: #fff;
    line-height: 23px;
    padding: 5px;
    display: none;
}
.project.lis > .content .row ul li > div.tutor-desc > h2{
    color: #333;
    font-size: 16px;
}
.project.lis > .content .row ul li > div.tutor-desc > p{
    color: #808080;
}
.project.lis > .content .row ul li:hover .tutor-desc{
    display: block;
    cursor: pointer;
}


/*活动专题*/
.project.lis > .content .row ul li > div.course-title > span{
    border:none;
    color: #fff;
    padding: 2px 10px;
}
.project.lis > .content .row ul li > div.course-title > span.orange{
    background: #f49a42;
}
.project.lis > .content .row ul li > div.course-title > span.red{
    background: #e64442;
}
.project.lis > .content .row ul li > div.course-title > span.blue{
    background: #5ba7f2;
}
.project.usr > .content .row ul li > div.course-tag span{
    background: url('../images/user.png') no-repeat 0 0;
    padding-left: 20px;
}

/*合作机构*/
.project.gray > .content > .cooperate > a{
    float: left;
    margin: 0 20px 20px 0;
}


/*课程首页 头部*/
.top-banner{
    background: #444951;
    padding:12px 0;
}
.top-banner img{
    width: 200px;
}
.top-banner > .content > ul{
    margin-left: 65px;
    display: inline-block;
    vertical-align: middle;
}
.top-banner > .content > ul > li{
    float: left;
    margin: 10px 10px 10px 10px;
    font-size: 18px;
}
.top-banner > .content > ul > li > a{
    color: #ffffff;
}
.top-banner > .content > .searchCourse,.top-banner > .content > .right-info{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 10px;
}
.top-banner > .content > .searchCourse > input{
    padding: 6px 15px;
    background: #666d79;
    border: none;
    color: #b0b6c2;
    width: 190px;
}
.top-banner > .content > .searchCourse > img{
    width: 36px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.top-banner > .content > .right-info{
    float: right;
    margin-right: 0;
}

.top-banner > .content > .right-info > a.info{
    margin-right: 10px;
}
.top-banner > .content > .right-info > a > em{
    display: inline-block;
    background: #e10e01;
    min-width: 15px;
    height: 13px;
    border-radius: 100px;
    padding: 3px;
    line-height: 13px;
    text-align: center;
    font-size: 12px;
}
.top-banner > .content > .right-info > a,.top-banner > .content > .right-info > span > a{
    color: #ffffff;
    display: inline-block;
}
.top-banner > .content > .right-info > span{
    margin-left: 20px;
    display: inline-block;
    vertical-align: bottom;
}
.top-banner > .content > .right-info > span > a.name{
    height: 29px;
    width: 90px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top-banner > .content > .right-info > span > img{
    width: 31px;
    vertical-align: super;
}
/*课程首页 头部*/
/*课程首页 筛选*/
.pane{
    width: 1200px;
    margin:0 auto;
}
.pane .pane-content{
    margin:20px 0;
}
.pane .left-pane{
    width: 960px;
    display: inline-block;
}
.pane .left-pane .left-content,.pane .left-pane .left-condition{
    border: 1px solid #dadada;
}
.pane .left-pane .left-condition{
    margin:21px 0 15px 0;
}
.pane .left-pane .left-condition .pane-top a{
    padding:10px 20px;
}
.pane .left-pane .left-condition .pane-top a > img{
    vertical-align: middle;
}
.pane .left-pane .left-condition .pane-top > label{
    margin-left: 10px;
}
.pane .left-pane .left-condition .pane-top > label > input{
    margin-right: 5px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -2px;
}
.pane .left-pane .pane-top{
    background: #f8f8f8;
}
.pane .left-pane .pane-top > a{
    display: inline-block;
    padding: 10px 26px;
}
.pane .left-pane .pane-top > a.all{
    padding-left: 10px;
}
.pane .left-pane .pane-top > a.active{
    color: #00a7eb;
}
.pane .left-pane .pane-top > a.bgs{
    background: #ffffff;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    color: #00a7eb;
}
.pane .left-pane .pane-bot > .single{
    color: #808080;
    padding: 10px;
}
.pane .left-pane .pane-bot > .single > span{
    color: #333;
    padding: 10px;
}
.pane .left-pane .small{
    background: #ffffff;
    padding-top: 0;
}
.pane .left-pane .small .content .row{
    margin-top: 0;
}
.pane .left-pane .small .content{
    width: 980px;
}
.pane .left-pane .small .content .row ul li img{
    width: 225px;
    height: 150px;
}
.pane .left-pane .small .content .row ul li{
    margin: 0 20px 20px 0;
}
.pane .left-pane .small .content .row ul li > div.course-title{
    position: relative;
}
.pane .left-pane .small .content .row ul li > div.course-title > span{
    position: absolute;
    right: 0;
}
/*分页*/
.pager{
    width: 50%;
    margin: 30px 25% 10px 25%;
    display: inline-block;
}
.pager ul#pages li{
    float: left;
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ececec;
    border-radius: 5px;
    font-size: 16px;
}
.pager ul#pages li > a{
    cursor: pointer;
    color: #333;
}
.pager ul#pages li.active{
    background: #00a7eb;
}
.pager ul#pages li.active a{
    color: #fff;
}
/*课程首页 筛选*/
/*单门课程*/
.course{
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    padding:20px 0;
}
.course .content .right-course{
    display: inline-block;
    width: 680px;
    margin-left: 25px;
}
.course .content .right-course > h2{
    font-size: 24px;
}
.course .content .right-course .course-tags{
    margin:20px 0;
    color: #a5a5a5;
}
.course .content .right-course .course-tags > span{
    padding: 0 10px;
    border-right: 1px solid #dadada;
}
.course .content .right-course .course-tags > span:first-child{
    padding-left: 20px;
    background: url('../images/user.png') no-repeat 0 0;
}
.course .content .right-course .course-tags > span > i{
    color: #00a7ea;
}
.course .content .right-course .course-desc{
    padding:10px;
    border:1px solid #eeeeee;
    width: 390px;
    color: #a5a5a5;
}
.course .content .right-course > h2.price{
    font-size: 30px;
    color: #ff4000;
    margin: 60px 0;
    font-weight: normal;
}
.course .content .right-course > h2.price > s{
    color: #bbbbbb;
    font-size: 20px;
}
.course .content .right-course .course-btn{

}
.course .content .right-course .course-btn > a{
    padding: 13px 0;
    width: 185px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin: 0 35px 0 0;
    font-size: 18px;
}
.course .content .right-course .course-btn > a.buy{
    background: #ff8000;
    color: #fff;
}
.course .content .right-course .course-btn > a.cart{
    background: #ffffff;
    border:1px solid #ff8000;
    color: #ff8000;
}
.course.course-top{
    border-bottom: none;
    padding: 0;
}
.course.course-top .content > a{
    display: inline-block;
}
.course.course-top .content > a > span{
    display: inline-block;
    padding: 13px 30px;
    font-size: 18px;
    cursor: pointer;
}
.course.course-top .content > a > span.active{
    color: #00a7ea;
    border-bottom: 1px solid #00a7ea;
}
.course.course-top .content > div{
    height: 48px;
    line-height: 48px;
}
.course.course-top .content > div > span{
    display: inline-block;
    margin: 0 15px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}
.course.course-top .content > div > span.follow{
    background: url('../images/stars.png') no-repeat 0 0;
    padding-left: 25px;
    background-position: 0 16px;
}
.course.course-top .content > div > span.follows{
    background-position: 0 -22px;
}
.course.course-top .content > div > span > img{
    vertical-align: middle;
    margin: 0 8px;
    margin-top: -2px;
}

.content .bot-pane{
    margin:30px 0;
}
.content .left-desc{
    display: inline-block;
    width: 855px;
}
.content .left-desc .course-left{
    padding: 15px;
    background: #fff;
}
.content .left-desc .course-left h2{
    font-size: 18px;
    color: #00a7ea;
    margin: 10px 0;
    font-weight: normal;
}
.content .left-desc .course-left > p{
    color: #333333;
    line-height: 25px;
}
.content .left-desc .course-left-bot{
    background: #fff;
    margin: 20px 0;
}
.content .left-desc .course-left-bot h2{
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #dadada;
    padding: 15px;
}
.content .left-desc .course-left-bot .log-list h2{
    background: #f8f8f8;
    border:none;
    font-size: 16px;
    position: relative;
}
.content .left-desc .course-left-bot .log-list ul{
    padding: 10px 0;
}
.content .left-desc .course-left-bot .log-list ul li{
    padding: 10px 15px;
    position: relative;
}
.content .left-desc .course-left-bot .log-list h2 > span.abs,.content .left-desc .course-left-bot .log-list ul li > span.abs{
    position: absolute;
    left: 100px;
}
.content .course-right{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    max-width: 325px;
}
.content .course-right .course-right-top{
    padding: 20px;
    background: #ffffff;
    text-align: center;
    width: 285px;
    margin:0 0 20px 0;
}
.content .course-right .course-right-top > img{
    width: 121px;
    height: 121px;
    border-radius: 100px;
}
.content .course-right .course-right-top > p{
    text-align: justify;
    line-height: 23px;
}
.content .course-right .course-right-top > p.name{
    text-align: center;
    font-size: 18px;
    margin: 15px 0;
}
.content .course-right .course-right-bot{
    background: #ffffff;
}
.content .course-right .course-right-bot > h2{
    padding: 15px 10px;
    border-bottom: 1px solid #dadada;
    font-weight: normal;
    font-size: 18px;
}
.content .course-right .course-right-bot .assess{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    color: #333;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
}
.content .course-right .course-right-bot .assess:last-child{
    border: none;
}
.content .course-right .course-right-bot .assess .assess-pane{
    padding: 15px 10px;
}
.content .course-right .course-right-bot .assess .assess-pane > img{
    float: left;
    width: 42px;
    height: 42px;
    border-radius: 100px;
}
.content .course-right .course-right-bot .assess .assess-pane .assess-right{
    margin-left: 50px;
}
.content .course-right .course-right-bot .assess .assess-pane .assess-right > p{
    margin-top: 5px;
}
.content .course-right .course-right-bot .assess-txt{
    padding: 0 10px;
    line-height: 25px;
}
.content .course-right > a{
    padding: 15px 0;
    text-align: center;
    background: #fff;
    border-top: 1px solid #ebebeb;
    display: inline-block;
    width: 100%;
}


.content .note-pane{
    background: #fff;
    margin: 30px 0;
    padding-bottom: 30px;
}
.content .note-pane h2{
    padding: 15px;
    border-bottom: 1px solid #dadada;
    font-size: 17px;
    font-weight: normal;
}
.content .note-pane h2 > span > a{
    margin:0 0 0 20px;
    font-size:16px;
}
.content .note-pane h2 > span > a.active{
    color: #00a7ea;
}
.content .note-pane .note-detail{
    border-bottom:1px solid #ebebeb;
    margin: 15px;
    padding-bottom: 15px;
}
.content .note-pane .note-detail > a.btn{
    background: #eaeaea;
    padding: 10px;
    width: 90px;
    text-align: center;
    color: #666666;
    margin: 0 20px 0 0;
    display: inline-block;
}
.content .note-pane .note-detail > a.btn.active{
    color: #ffffff;
    background: #00a7ea;
}
.content .note-pane .note-detail .detail-header{

}
.content .note-pane .note-detail .detail-header > img{
    width: 68px;
    height:68px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;;
}
.content .note-pane .note-detail .detail-header > span{
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
.content .note-pane .note-detail .detail-header > span.date{
    font-size: 16px;
    color: #999;
}
.content .note-pane .note-detail .detail-header .right-time{
    display: inline-block;
    margin-top: 35px;
}
.content .note-pane .note-detail .detail-header .right-time .time-bg{
	display: inline-block;
	background: url(../images/smicon.png) no-repeat 5px 7px;
	width: 32px;
	height: 32px;
	border: 1px solid #8bd2ef;
	vertical-align: middle;
	margin-top: -1px;
}
.content .note-pane .note-detail .detail-header .right-time .times{
    background: #8bd2ef;
    color: #fff;
    padding: 8px 10px;
    vertical-align: middle;
}
.content .note-pane .note-detail .detail-txt{
    margin: 20px 0 15px 0;
    color: #666;
}
.content .note-pane .note-detail .detail-txt > p{
    line-height: 25px;
}
.content .note-pane .note-detail .detail-act{
    color: #999999;
    padding-bottom: 20px;
}
.content .note-pane .note-detail .detail-act a{
    padding-left: 25px;
    margin:0 7px;
}
.content .note-pane .note-detail .detail-act a.top{
    background: url('../images/smicon.png') no-repeat 0 -140px;
}
.content .note-pane .note-detail .detail-act a.follow{
    background: url('../images/stars.png') no-repeat 0 1px;
}
.content .note-pane .note-detail .detail-act a.follows{
    background: url('../images/stars.png') no-repeat 0 -37px;
}
.content .note-pane .note-detail .detail-act a.share{
    background: url('../images/share.png') no-repeat 0 1px;
}
/*单门课程 end*/





/*分页 end*/
.pane .right-pane{
    background: #82cfd0;
    color: #fff;
}
.pane .right-pane .right-content{
    padding: 10px;
}
.pane .right-pane .right-content > h2{
    font-size: 18px;
    font-weight: normal;
    position: relative;
    border-bottom: 1px solid #b4e2e3;
    height: 22px;
}
.pane .right-pane .right-content > h2 > span{
    position: absolute;
    left: 0;
    background: #82cfd0;
    top: 2px;
}
.pane .right-pane .right-content > h2,.pane .right-pane .right-content > div{
    /*margin:10px 0;*/
}
.pane .right-pane .right-content > div{
    width: 200px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:15px 0 0 0;
}
.pane .right-pane .right-content > div > a{
    color: #ffffff;
}
.pane .right-pane > a{
    display: inline-block;
    background: #74c3c4;
    width: 100%;
    height: 38px;
    line-height: 38px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #b4e2e3;
}
.pane .right-pane.green{
    background: #acbb5f;
}
.pane .right-pane.green .right-content > h2{
    border-bottom: 1px solid #cdd69f;
}
.pane .right-pane.green .right-content > h2 > span{
    background: #acbb5f;
}
.pane .right-pane.green > a{
    background: #a2b152;
    border-top: 1px solid #cdd69f;
}
.pane .right-pane.pink{
    background: #ee9c9d;
    margin-top: 30px;
}
.pane .right-pane.pink .right-content > h2{
    border-bottom: 1px solid #f5c4c4;
}
.pane .right-pane.pink .right-content > h2 > span{
    background: #ee9c9d;
}
.pane .right-pane.pink > a{
    background: #e98c8d;
    border-top: 1px solid #f5c4c4;
}




/*页面底部*/
.foot{
    background: #444951;
}
.foot .bottom-pane{
    margin: 20px auto;
}
.foot img{
    vertical-align: middle;
}
.foot > .content > div{
    color: #fff;
}
.foot > .content > div.desc{
    display: inline-block;
    width: 300px;
    float: left;
}
.foot > .content > div.desc > div.left-txt{
    text-align: justify;
    line-height: 23px;
}
.foot > .content > div.desc > div.care{
    margin: 20px 0;
}
.foot > .content > div.right-list{
    display: inline-block;
    width: 900px;
}
.foot > .content > div.right-list > ul{
    margin-left: 35px;
    display: inline-block;
}
.foot > .content > div.right-list > ul > li{
    float: left;
    margin: 0 30px;
    text-align: center;
}
.foot > .content > div.right-list > ul > li > a{
    display: block;
    margin: 15px 0;
    color: #b7b9bb;
}
.foot > .content > div.right-list > ul > li > p{
    margin-top: 10px;
}


/*课程详情 tab 切换 css*/
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.fade.in {
    opacity: 1;
}